/* 
  VIBEY
  DATE: 7/29/2016
  VERSION: 1.0
*/

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400);
body, input, textarea, button, select, a { font-family: "Ubuntu", arial; color: #656A72; font-size: 16px; line-height: 20px; font-weight: 400; -webkit-font-smoothing: antialiased; }

/* Global */
html { margin: 0; padding: 0; width: 100%; height: 100%; }
body { margin: 0; padding: 0; width: 100%; height: 100%; background: #FFFFFF;  cursor: default; }
* { outline:none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
*,:before,:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
a { text-decoration: none;}
ul { margin: 0; padding: 0; list-style: none; }


/* Top */
.top { float: left; width: 100%; min-width: 900px; padding: 70px 0 70px 0; background: #FFFFFF; text-align: center; }
.top .logo { display: block; margin: 0 auto; width: 300px; height: 200px; }


/* Middle */
.middle { float: left; width: 100%; min-width: 900px; background: #E53939; text-align: center; }
.middle .center { display: block; margin: 0 auto; width: 800px; padding:50px 0 50px 0; color: #FFFFFF; background: url("../images/shark-fin.png") bottom right no-repeat; background-size: 130px 110px; }
.social-links { display: block; width: 100%; text-align: center; }
.social-links li  { display: inline-block; }


/* Bottom */
.bottom { float: left; width: 100%; min-width: 900px; margin-bottom: 100px; }
.bottom .center { display: block; margin: 0 auto; width: 800px; padding:50px 0 50px 0; text-align: center; overflow: hidden; }
.options { float: left; width: 100%; text-align: left; }
.options .option { float: left; width: 100%; padding: 20px 0 20px 0; }
.options .option .icon { float: left; width: 80px; height: 80px; margin-right: 30px; }
.options .option .description { float: left; width: 580px; margin-right: 30px; }
.options .option .description h3 { float: left; width: 100%; margin: 0 0 10px 0; padding: 0; font-size: 22px; line-height: 22px; }
.options .option .description p { float: left; width: 100%; margin: 0; padding: 0; }
.options .option .button { float: left; width: 80px; }


.onoffswitch { position: relative; width: 80px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none; }
.onoffswitch-checkbox { display: none; }
.onoffswitch-label { display: block; overflow: hidden; cursor: pointer; height: 40px; padding: 0; line-height: 40px; border: 2px solid #CCCCCC; border-radius: 40px; background-color: #FFFFFF; transition: background-color 0.3s ease-in; }
.onoffswitch-label:before { content: ""; display: block; width: 40px; margin: 0px; background: #FFFFFF; position: absolute; top: 0; bottom: 0; right: 40px; border: 2px solid #CCCCCC; border-radius: 40px; transition: all 0.3s ease-in 0s; }
.onoffswitch-checkbox:checked + .onoffswitch-label { background-color: #E53939; }
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before { border-color: #E53939; }
.onoffswitch-checkbox:checked + .onoffswitch-label:before { right: 0px; }
